@import '../../defines.css';

.filter-section {
  animation: fadeIn 0.5s ease 0s 1 normal;
  position: relative;
  margin-bottom: 15px;

  & .title {
    font-size: 24px;
    padding-left: 10px;
    color: var(--card-filter-label-color);
    text-shadow: 0 0 5px var(--card-filter-label-color);
    border-bottom: solid 3px var(--card-filter-label-color);
    margin: 15px auto 10px;
  }

  & .title-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}

.normal-force,
.cost-ratio-force {
  animation: fadeIn 0.5s ease 0s 1 normal;
  display: none;

  &.active {
    display: block;
  }
}

.range {
  font-size: 32px;
  color: var(--card-filter-label-color);
  padding-left: 3px;

  & * {
    margin: 0 3px;
  }
}
