@import '../../defines.css';

.open-deck-config {
  font-size: 30px;
  width: 72px;
  min-height: 52px;
  border: solid 1px var(--normal-border-color);
  background-color: var(--add-button-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;

  &.modified {
    color: var(--active-color);
  }
}

.assist-deck-card-list {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: none;
  -webkit-overflow-scrolling: touch;
  padding-right: 4px;

  & .open-deck-config {
    margin: 4px;
  }
}

.deck-board {
  width: 100%;
}

.deck-card-list {
  width: 100%;
  height: 274px;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.deck-actions {
  margin: 2px 4px;
  width: 72px;
  min-width: 72px;
  height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & > * {
    margin: 2px 0;
  }

  & .open-deck-config {
    width: 100%;
    min-height: 50px;
    flex: 1;
  }
}

.add-new-deck-card {
  font-size: 28px;
  color: var(--add-button-color);
  writing-mode: vertical-rl;
  width: 72px;
  min-width: 72px;
  border: solid 1px var(--normal-border-color);
  background-color: var(--add-button-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 5;

  &.disabled {
    color: var(--filter-button-disabled-color);
    cursor: not-allowed;
  }
}

.deck-clear {
  font-size: 16px;
  color: var(--deck-clear-button-color);
  width: 72px;
  min-width: 72px;
  border: solid 1px var(--normal-border-color);
  background-color: var(--add-button-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.deck-awakening-gen-main {
  width: 100%;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 4px 0 2px;
  padding-top: 6px;
  position: relative;

  &[data-label]::before {
    font-size: 10px;
    position: absolute;
    top: -6px;
    content: attr(data-label);
  }

  &.over-limit {
    color: var(--danger-color);
  }
}
