@import '../../defines.css';

.deck-board {
  width: 100%;
  min-width: var(--app-min-width);
}

.deck-card-list {
  width: 100%;
  height: 274px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.deck-actions {
  margin: 2px 4px;
  width: 72px;
  min-width: 72px;
  height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & > * {
    margin: 2px 0;
  }
}

.add-new-deck-card {
  font-size: 28px;
  color: var(--add-button-color);
  writing-mode: vertical-rl;
  width: 72px;
  min-width: 72px;
  border: solid 1px var(--normal-border-color);
  background-color: var(--add-button-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 5;

  &.disabled {
    color: var(--filter-button-disabled-color);
    cursor: not-allowed;
  }
}

.deck-clear {
  font-size: 16px;
  color: var(--deck-clear-button-color);
  width: 72px;
  min-width: 72px;
  border: solid 1px var(--normal-border-color);
  background-color: var(--add-button-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.open-deck-config {
  font-size: 30px;
  width: 72px;
  min-width: 72px;
  min-height: 50px;
  border: solid 1px var(--normal-border-color);
  background-color: var(--add-button-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.deck-total {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  position: relative;

  & > .total {
    font-size: 16px;
    border: 1px solid var(--normal-border-color);
    margin: 1px;
    padding: 0 5px;
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;

    & .has-gen-main {
      font-size: 10px;
      color: var(--active-color);
      position: absolute;
      top: 2px;
      right: 0;
      display: none;

      &.active {
        display: block;
      }
    }

    & > * {
      font-weight: bold;
    }

    & .dummy {
      font-weight: normal;
    }

    & .conquest-rank {
      margin-right: 18px;
    }

    &.total-cost {
      min-width: 110px;
    }

    & .cost-remain {
      font-size: 12px;

      &.over {
        font-size: 10px;
        color: var(--danger-color);
      }

      &.under {
        color: var(--cold-color);
      }
    }

    & .breakdown {
      display: none;

      &.active {
        display: inline-block;
      }

      & .addition-by-main-gen {
        color: var(--active-color);
      }
    }
  }

  & > *[data-label] {
    font-weight: bold;
    position: relative;
  }

  & > *[data-label]::before {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 2px;
    left: 2px;
    content: attr(data-label);
  }
}

@media (--oblong-device) {
  .deck-board {
    max-width: var(--app-min-width);
  }
}
