@import '../../defines.css';

:root {
  --general-card-width: 600px;
  --general-card-height: 92px;
  --general-card-col1-width: 40px;
  --general-card-col2-left: var(--general-card-col1-width);
  --general-card-col2-width: 110px;
  --general-card-col3-left: calc(var(--general-card-col2-left) + var(--general-card-col2-width));
  --general-card-col3-width: 46px;
  --general-card-col4-left: calc(var(--general-card-col3-left) + var(--general-card-col3-width));
  --general-card-col4-width: 36px;
  --general-card-col5-left: calc(var(--general-card-col4-left) + var(--general-card-col4-width));
  --general-card-col5-width: 36px;
  --general-card-col6-left: calc(var(--general-card-col5-left) + var(--general-card-col5-width));
  --general-card-col6-width: 36px;
  --general-card-col7-left: calc(var(--general-card-col6-left) + var(--general-card-col6-width));
  --general-card-col7-width: 36px;
  --general-card-col8-left: calc(var(--general-card-col7-left) + var(--general-card-col7-width));
  --general-card-col8-width: 120px;
  --general-card-col9-left: calc(var(--general-card-col8-left) + var(--general-card-col8-width));
  --general-card-col9-width: 32px;
  --general-card-col10-left: calc(var(--general-card-col9-left) + var(--general-card-col9-width));
  --general-card-col10-width: 70px;
  --general-card-col11-left: calc(var(--general-card-col10-left) + var(--general-card-col10-width));
  --general-card-col11-width: 38px;
}

.general-card {
  display: block;
  font-size: 20px;
  margin: 5px auto;
  width: var(--general-card-width);
  height: var(--general-card-height);
  position: relative;

  & > * {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: calc(var(--general-card-height) / 2);
  }

  & *[data-label]::before {
    font-size: 10px;
    position: absolute;
    top: 0;
    content: attr(data-label);
  }

  & *[data-label1][data-label2]::before {
    font-size: 10px;
    position: absolute;
    top: 0;
    content: attr(data-label1) '\A' attr(data-label2);
    white-space: pre;
  }

  & .state {
    font-size: 26px;
    font-weight: bold;
    color: white;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
  }

  & .rarity {
    font-weight: bold;
    top: calc(var(--general-card-height) / 2);
    left: 0;
    width: var(--general-card-col1-width);
    justify-content: flex-end;
  }

  & .version {
    font-weight: bold;
    padding-left: 3px;
    top: 0;
    left: var(--general-card-col2-left);
    width: var(--general-card-col2-width);
    justify-content: flex-start;
  }

  & .name {
    font-weight: bold;
    font-size: 26px;
    padding-left: 3px;
    top: calc(var(--general-card-height) / 2);
    left: var(--general-card-col2-left);
    width: var(--general-card-col2-width);
    justify-content: flex-start;
  }

  & .image {
    top: 0;
    left: var(--general-card-col3-left);
    width: var(--general-card-col3-width);
    height: var(--general-card-height);
  }

  & .general-thumb {
    width: 40px;
    height: 64px;
  }

  & .cost {
    top: 0;
    left: var(--general-card-col4-left);
    width: var(--general-card-col4-width);
  }

  & .unit {
    top: calc(var(--general-card-height) / 2);
    left: var(--general-card-col4-left);
    width: var(--general-card-col4-width);
    padding-top: 2px;
  }

  & .force {
    top: 0;
    left: var(--general-card-col5-left);
    width: var(--general-card-col5-width);
  }

  & .intelligence {
    top: 0;
    left: var(--general-card-col6-left);
    width: var(--general-card-col6-width);
  }

  & .conquest {
    top: 0;
    left: var(--general-card-col7-left);
    width: var(--general-card-col7-width);
  }

  & .skills {
    top: calc(var(--general-card-height) / 2);
    left: var(--general-card-col5-left);
    width: calc(var(--general-card-col5-width) + var(--general-card-col6-width) + var(--general-card-col7-width));
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    & .skill {
      font-weight: bold;
      margin: 0 2px;
      width: 30px;
      height: 30px;
      background-color: yellow;
      border: solid 2px black;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }

    & .no-skill {
      background-color: rgba(0, 0, 0, 0.2);
      width: 94px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }
  }

  & .strategy {
    padding-left: 3px;
    padding-right: 3px;
    top: 0;
    left: var(--general-card-col8-left);
    width: var(--general-card-col8-width);
    height: var(--general-card-height);
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  & .strategy-morale {
    top: 0;
    left: var(--general-card-col9-left);
    width: var(--general-card-col9-width);
    height: var(--general-card-height);
    padding-top: 6px;
  }

  & .gen-mains {
    top: 0;
    left: var(--general-card-col10-left);
    width: var(--general-card-col10-width);
    height: var(--general-card-height);
    display: flex;
    flex-direction: column;
    padding: 11px 2px 0;

    &::before {
      top: -2px;
    }
  }

  & .gen-main {
    margin-top: 1px;
    background-color: lightslategray;
    border-color: black;
    font-size: 16px;
    width: 100%;
    height: 33%;
  }

  & .buttons {
    top: 0;
    left: var(--general-card-col11-left);
    width: var(--general-card-col11-width);
    height: var(--general-card-height);
    display: flex;
    flex-direction: column;
    padding-top: 11px;
  }

  & .add-deck {
    font-size: 20px;
    background-color: lightslategray;
    border-color: black;
    width: 100%;
    height: 100%;
  }
}

.no-generals {
  display: flex;
  font-size: 20px;
  margin: 5px auto;
  width: var(--general-card-width);
  height: var(--general-card-height);
  background-color: gray;
  align-items: center;
  justify-content: center;
}
