@import '../../defines.css';

:root {
  --deck-card-width: 72px;
  --deck-card-height: 250px;
  --deck-card-inner-top-height: 136px;
  --deck-card-inner-bottom-height: 114px;
  --deck-card-row1-top: 4px;
  --deck-card-row1-height: 38px;
  --deck-card-row2-top: calc(var(--deck-card-row1-top) + var(--deck-card-row1-height) - 4px);
  --deck-card-row2-height: 20px;
  --deck-card-row3-top: calc(var(--deck-card-row2-top) + var(--deck-card-row2-height) + 4px);
  --deck-card-row3-height: 56px;
}

.deck-card {
  margin: 4px;
  font-size: 16px;
  width: var(--deck-card-width);
  min-width: var(--deck-card-width);
  height: var(--deck-card-height);
  cursor: pointer;
  box-sizing: content-box;
  position: relative;

  @nest .active& {
    margin: 0;
    border: 4px solid var(--active-color);
  }

  & .deck-card-inner-top {
    width: 100%;
    height: var(--deck-card-inner-top-height);
    position: relative;
    user-select: none;
    color: var(--deck-card-top-color);

    & > * {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }
  }

  & .deck-card-inner-bottom {
    position: relative;
    height: var(--deck-card-inner-bottom-height);

    & > * {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }
  }

  & *[data-label]::before {
    font-size: 10px;
    position: absolute;
    top: -4px;
    content: attr(data-label);
  }

  & .general-thumb {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
  }

  & .shadow {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  & .tool-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 42px; /* height: 100px; TODO: 検索機能の整理 */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 2px 0;
    background-color: var(--deck-card-tool-bg-color);

    @nest .active& {
      display: flex;
    }

    & > * {
      font-size: 20px;
    }

    & .remove {
      color: var(--danger-color);
      width: 36px;
      height: 36px;
      background-color: var(--deck-card-tool-box-button-color);
    }

    & .search {
      width: 36px;
      height: 36px;
      background-color: var(--deck-card-tool-box-button-color);
      display: none; /* TODO: 検索機能の整理 */

      &.enable {
        color: var(--active-color);
      }
    }
  }

  & .state {
    font-size: 18px;
    top: 14px;
    left: 0;
    width: 24px;
    height: 24px;
  }

  & .version {
    padding: 0 2px;
    font-size: 10px;
    color: var(--deck-card-top-color);
    top: 0;
    left: 0;
    height: 16px;
  }

  & .name {
    writing-mode: vertical-rl;
    right: 0;
    bottom: 2px;
    font-size: 16px;
    color: var(--deck-card-top-color);

    & .rarity {
      -webkit-text-combine: horizontal;
      -ms-text-combine-horizontal: all;
      text-combine-upright: all;
    }
  }

  & .cost {
    left: 0;
    bottom: 28px;
    padding-top: 4px;
    width: 32px;
    height: 28px;
  }

  & .unit {
    left: 0;
    bottom: 0;
    padding-top: 4px;
    width: 32px;
    height: 28px;
  }

  & .force {
    top: var(--deck-card-row1-top);
    left: 0;
    width: 24px;
    height: var(--deck-card-row1-height);
  }

  & .intelligence {
    top: var(--deck-card-row1-top);
    left: 24px;
    width: 24px;
    height: var(--deck-card-row1-height);
  }

  & .conquest {
    top: var(--deck-card-row1-top);
    left: 48px;
    width: 24px;
    height: var(--deck-card-row1-height);
  }

  & .skills {
    top: var(--deck-card-row2-top);
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    & .skill {
      font-weight: bold;
      margin: 0 2px;
      width: 20px;
      height: 20px;
      background-color: var(--general-skill-bg-color);
      border: solid 2px var(--general-skill-border-color);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }

    & .no-skill {
      background-color: var(--general-no-skill-bg-color);
      width: 64px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }
  }

  & .gen-mains {
    top: var(--deck-card-row3-top);
    width: 100%;
    height: var(--deck-card-row3-height);
    padding-top: 5px;

    &::before {
      top: -1px;
    }
  }

  & .gen-mains-select {
    width: 116px;
    min-width: 116px;
    height: 48px;
    transform: scale(0.62);
  }
}
