@import '../../defines.css';

:root {
  --deck-dummy-card-width: 72px;
  --deck-dummy-card-height: 250px;
  --deck-dummy-card-inner-top-height: 136px;
  --deck-dummy-card-inner-bottom-height: 114px;
}

.deck-dummy-card {
  margin: 3px;
  font-size: 16px;
  width: var(--deck-dummy-card-width);
  min-width: var(--deck-dummy-card-width);
  height: var(--deck-dummy-card-height);
  cursor: pointer;
  box-sizing: content-box;
  border: 1px solid #ccc;

  @nest .active& {
    margin: 0;
    border: 4px solid orange;

    &.has-state {
      margin: 0;
      border-style: solid;
    }
  }

  &.has-state {
    margin: 4px;
    border-style: none;
  }

  & .deck-card-inner-top {
    width: 100%;
    height: var(--deck-dummy-card-inner-top-height);
    position: relative;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.1);

    @nest .has-state& {
      background-color: rgba(0, 0, 0, 0.2);
      color: white;
    }

    & > * {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }

    & .edit {
      position: static;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      padding-top: 2px;

      @nest .active& {
        display: flex;
      }

      & .select-item-container {
        width: 100%;
        height: 45px;
        padding-top: 2px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
      }

      & .select-item {
        width: 116px;
        height: 48px;
        min-width: 116px;
        transform: scale(0.62);
      }
    }
  }

  & .deck-card-inner-bottom {
    position: relative;
    height: var(--deck-dummy-card-inner-bottom-height);

    & > * {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }
  }

  & *[data-label]::before {
    font-size: 10px;
    position: absolute;
    top: -4px;
    content: attr(data-label);
  }

  & .tool-box {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 2px 0;
    background-color: gray;

    & > * {
      font-size: 20px;
    }

    & .remove {
      width: 36px;
      height: 36px;
      background-color: lightslategray;
    }

    & .search {
      width: 36px;
      height: 36px;
      background-color: lightslategray;
    }
  }

  & .state {
    font-size: 18px;
    top: 14px;
    left: 0;
    width: 24px;
    height: 24px;

    @nest .active& {
      display: none;
    }
  }

  & .cost {
    left: 0;
    bottom: 28px;
    padding-top: 4px;
    width: 32px;
    height: 28px;

    @nest .active& {
      display: none;
    }
  }

  & .unit {
    left: 0;
    bottom: 0;
    padding-top: 4px;
    width: 32px;
    height: 28px;

    @nest .active& {
      display: none;
    }
  }
}
