@import '../../components/DeckCard/DeckCard.css';

.deck-card.deck-dummy-card {
  margin: 3px;
  border: 1px solid var(--normal-border-color);

  @nest .active& {
    margin: 0;
    border: 4px solid var(--active-color);
    cursor: default;

    &.has-state {
      margin: 0;
      border-style: solid;
    }
  }

  &.has-state {
    margin: 4px;
    border-style: none;
  }

  & .deck-card-inner-top {
    color: black;
    background-color: var(--deck-card-top-bg-color);

    @nest .has-state& {
      color: var(--general-state-color);
    }

    @nest .active& {
      display: none;
    }
  }

  & .deck-dummy-edit {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 26px;

    @nest .active& {
      display: flex;
    }

    & .select-item-container {
      width: 100%;
      height: 45px;
      padding-top: 2px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }

    & .select-item {
      width: 116px;
      height: 48px;
      min-width: 116px;
      transform: scale(0.62);
      cursor: pointer;
    }
  }

  & .tool-box {
    & .tool-button {
      opacity: 100%;
    }
  }
}
