@import '../../defines.css';

.button.filter-item.no-skill {
  color: black;
  font-weight: normal;
  text-shadow: 0 0 5px white;

  &:disabled {
    color: var(--filter-button-shadow-color);
    border-color: var(--filter-button-shadow-color);
    text-shadow: 0 0 10px var(--filter-button-shadow-color);
  }
}
