@import '../../defines.css';

.simple-filter-section {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0;

  & .title-inline {
    font-size: 18px;
    vertical-align: middle;
    color: var(--card-filter-label-color);
    text-shadow: 0 0 5px var(--card-filter-label-color);
    margin: 5px;
  }

  & .search-mode {
    font-size: 18px;
    width: 56px;
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: solid 1px var(--normal-border-color);
    outline: none;
    cursor: pointer;
    padding: 0;
    user-select: none;

    & .mode-item {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .mode-item-general {
      color: var(--switch-button-color);
      background-color: var(--switch-button-bg-color);
      border: solid 1px var(--normal-border-color);
    }

    &.mode-general .mode-item-general {
      color: var(--switch-button-active-color);
      background-color: var(--switch-button-active-bg-color);
      border: solid 2px var(--active-color);
    }

    & .mode-item-assist {
      color: var(--switch-button-active-color);
      background-color: var(--switch-button-active-bg-color);
      border: solid 2px var(--active-color);
    }

    &.mode-general .mode-item-assist {
      color: var(--switch-button-color);
      background-color: var(--switch-button-bg-color);
      border: solid 1px var(--normal-border-color);
    }
  }
}

.simple-filter-state {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
  background-color: var(--simple-filter-bg-color);

  & .button-list {
    flex-wrap: nowrap;
  }
}
