@import '../../defines.css';

.card-filter-actions {
  display: flex;
  justify-content: flex-end;

  & [class^="action-buton-"] {
    margin: 3px;
    font-size: 18px;
    width: 88px;
    height: 40px;
    font-weight: bold;
    color: var(--action-button-color);
    border-style: solid;
    border-color: var(--card-filter-label-color);
    border-width: 2px;
    border-radius: 6px;
    outline: none;
  }

  & .action-buton-reset {
    background-color: var(--action-button-cancel-bg-color);
  }

  & .action-buton-ok {
    display: none;
    background-color: var(--action-button-ok-bg-color);
  }
}

@media (--small-device) {
  .modal-small .card-filter-actions .action-buton-ok {
    display: block;
  }
}
