:root {
  --app-min-width: 630px; /* アプリケーションの最小幅 */
  --app-header-bg-color: #40a1b2;
  --card-filter-min-width: 300px;
  --card-filter-bg-color: rgba(0, 0, 0, 0.8);
  --card-filter-content-bg-color: #774f38;
  --card-filter-label-color: #fccd4d;
  --loading-color: white;
  --modal-bg-color: black;
  --cold-color: blue;
  --danger-color: #f94355;
  --active-color: #ff8c00;
  --normal-border-color: #ccc;
  --title-color: white;
  --side-menu-color: black;
  --side-menu-bg-color: #f1d4af;
  --side-menu-hover-bg-color: #edc693;
  --add-button-color: black;
  --add-button-bg-color: #c5e0dc;
  --deck-clear-button-color: black;
  --deck-clear-button-gb-color: #c5e0dc;
  --deck-card-top-color: white;
  --deck-card-top-bg-color: rgba(0, 0, 0, 0.1);
  --deck-card-tool-bg-color: gray;
  --deck-card-tool-box-button-color: lightslategray;
  --simple-filter-bg-color: #333;
  --general-skill-bg-color: #e2ab04;
  --general-skill-border-color: black;
  --general-no-skill-bg-color: rgba(0, 0, 0, 0.2);
  --filter-tab-button-basic-color: #6048ad;
  --filter-tab-button-detail-color: #e55ba2;
  --filter-tab-button-strat-color: #372496;
  --action-button-color: white;
  --action-button-ok-bg-color: #e55ba2;
  --action-button-cancel-bg-color: #1656f9;
  --filter-button-color: white;
  --filter-button-border-color: white;
  --filter-button-bg-color: #d2b48c;
  --filter-button-shadow-color: lightslategray;
  --filter-button-disabled-color: #ccc;
  --no-general-bg-color: gray;
  --general-state-bg-color: white;
  --switch-button-bg-color: #eee;
  --switch-button-active-bg-color: #40a1b2;
  --dialog-bg-color: #40a1b2;
  --dialog-text-color: white;
  --dialog-action-text-color: #f7ca7e;
  --dialog-action-red-color: #f94355;
  --dialog-action-blue-color: #1656f9;
  --radio-button-check-color: #40a1b2;
  --radio-button-check-bg-color: white;
}

@custom-media --app-min screen and (max-width: 630px);
@custom-media --small-device-w screen and (max-width: 1080px);
@custom-media --small-device-h screen and (max-height: 600px);
@custom-media --small-device --small-device-w, --small-device-h;
@custom-media --oblong-device-w screen and (min-width: 1260px);
@custom-media --oblong-device --oblong-device-w and --small-device-h;
@custom-media --large-device screen and (min-width: 1460px);

@keyframes rolling {
  from {
    transform: rotate(0);
    transform-origin: center;
  }

  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
