:root {
  --app-min-width: 630px; /* アプリケーションの最小幅 */
  --app-header-bg-color: rgba(41, 16, 16, 1);
  --card-filter-min-width: 300px;
  --card-filter-bg-color: rgba(0, 0, 0, 0.8);
  --card-filter-content-bg-color: rgba(41, 16, 16, 1);
  --card-filter-label-color: #fccd4d;
  --loading-color: white;
  --modal-bg-color: black;
  --cold-color: blue;
  --danger-color: red;
  --active-color: #ff8c00;
  --normal-border-color: #ccc;
  --title-color: white;
  --add-button-color: black;
  --add-button-bg-color: lightslategray;
  --deck-card-top-color: white;
  --deck-card-top-bg-color: rgba(0, 0, 0, 0.1);
  --deck-card-tool-bg-color: gray;
  --deck-card-tool-box-button-color: lightslategray;
  --simple-filter-bg-color: gray;
  --general-skill-bg-color: yellow;
  --general-skill-border-color: black;
  --general-no-skill-bg-color: rgba(0, 0, 0, 0.2);
  --filter-tab-button-basic-color: #636;
  --filter-tab-button-detail-color: #903;
  --action-button-color: white;
  --action-button-ok-bg-color: red;
  --action-button-cancel-bg-color: blue;
  --filter-button-color: white;
  --filter-button-border-color: white;
  --filter-button-bg-color: #d2b48c;
  --filter-button-shadow-color: lightslategray;
  --filter-button-disabled-color: #ccc;
  --no-general-bg-color: gray;
  --general-state-bg-color: white;
  --switch-button-bg-color: #eee;
  --switch-button-active-bg-color: green;
}

@custom-media --app-min screen and (max-width: 630px);
@custom-media --small-device-w screen and (max-width: 980px);
@custom-media --small-device-h screen and (max-height: 600px);
@custom-media --small-device --small-device-w, --small-device-h;
@custom-media --oblong-device-w screen and (min-width: 1260px);
@custom-media --oblong-device --oblong-device-w and --small-device-h;

@keyframes rolling {
  from {
    transform: rotate(0);
    transform-origin: center;
  }

  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
